.containerP {
    background-color: rgb(230, 198, 70);
    display: flex;
    justify-items: center;
}
.titulo-secao {
    border-bottom: 1px lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    margin-bottom: 16px;
    padding: 16px;
}


.container {
    background-color: rgb(230, 198, 70);
    padding: 5px;
}

.titulo-principal {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px;

}

 ul {
    font-size: 0;
    text-align: center;
    /* background-color: aqua; */
}

li {
    /* display:list-item; */
    border-radius: 2px #000 solid;
    padding: 8px 0;
    align-self: center;
}
li:last-child {
    border-right: 0;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 30px;
    text-decoration: none;
    text-transform:uppercase;
    padding: 8px 16px;
}

a:hover {
    text-decoration: underline;
    background-color: #e42a2a;
}
/* ------------------eventos------------------------- */
#retangulo {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: antiquewhite;
}